@import "./shared.scss";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: $primary-color;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.designer {
  margin-top: 50px;
  min-width: 900px;
}


  .designer-col {
    position: absolute;
    top: 50px;
    bottom: 0px;
  }

  .designer-left-col {
    left: 0;
    width: 250px;
  }

  .designer-left-col a.active {background-color:#337ab7; color:#fff;}

  .designer-middle-col {
    left: 250px;
    right: 250px;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .designer-right-col {
    right: 0;
    width: 250px;
  }
